<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356369729785-dccbqsnc5tc30od0h2lcht6767j0rj0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356369729785-dccbqsnc5tc30od0h2lcht6767j0rj0j</string>
	<key>API_KEY</key>
	<string>AIzaSyBYO4aGGwE8IOszhk_zwAYYonqZ0pLgxiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>356369729785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nograve.electronicJournal</string>
	<key>PROJECT_ID</key>
	<string>electronic-journal-b1c34</string>
	<key>STORAGE_BUCKET</key>
	<string>electronic-journal-b1c34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356369729785:ios:55989da4d3911dfb563a28</string>
</dict>
</plist>